
<!-- FOLDER FAB ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<template name='fabForFolder'>

<!-- BUTTON -->
<div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
  
  <a class="btn-floating btn-large red" >
    <i class="large material-icons" id='primaryAction'>{{getAction 'primaryAction'}}</i>
  </a>
  
  <ul>
    <li><a class="btn-floating yellow darken-1" >
    	<i class="material-icons" id='quaternaryAction'>{{getAction 'quaternaryAction'}} </i>
    </a></li>

    <li><a class="btn-floating green" >
    	<i class="material-icons" id='tertiaryAction'>{{getAction 'tertiaryAction'}}</i>
    </a></li>
    
    <li><a class="btn-floating blue" >
    	<i class="material-icons" id='secondaryAction'>{{getAction 'secondaryAction'}}</i>
    </a></li>
  </ul>

</div>

<!-- TEXT LINE -->
{{#if placeHolder}}
<div class='row' style='position: fixed; bottom: 0px; padding-left: 20px; width: 70%;'>
	<div class="input-field">
    <form class='fabForm'>
  		<input value='' id="fabInputBar" type='text' name='fabText' class='validate padLeft'>
  		<label class='' for='fabInputBar'>{{placeHolder}}</label>
  	</form>
  </div>
</div>
{{/if}}

</template>

<!-- LIST FAB ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<template name='fabForList'>

<!-- BUTTON -->
<div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
  
  <a class="btn-floating btn-large red" >
    <i class="large material-icons" id='primaryActionL'>{{getAction 'primaryActionL'}}</i>
  </a>
  
  <ul>
<!--     <li><a class="btn-floating pink accent-2" >
      <i class="material-icons" id='quinaryActionL'>{{getAction 'quinaryActionL'}} </i>
    </a></li> -->

    <li><a class="btn-floating yellow darken-1" >
      <i class="material-icons" id='quaternaryActionL'>{{getAction 'quaternaryActionL'}} </i>
    </a></li>

    <li><a class="btn-floating green" >
      <i class="material-icons" id='tertiaryActionL'>{{getAction 'tertiaryActionL'}}</i>
    </a></li>
    
    <li><a class="btn-floating blue" >
      <i class="material-icons" id='secondaryActionL'>{{getAction 'secondaryActionL'}}</i>
    </a></li>
  </ul>

</div>

<!-- TEXT LINE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- DATE & TIME PICKERS -->
{{#if addingTime}}
  {{> datepicker}}

{{else}} 
{{#if placeHolder}}
<div class='row' style='position: fixed; bottom: 0px; padding-left: 20px; width: 70%;'>
  <div class="input-field">
    <form class='fabForm'>
      <input value='' id="fabInputBar" type='text' name='fabText' class='validate padLeft'>
      <label class='' for='fabInputBar'>{{placeHolder}}</label>
    </form>
  </div>
</div>
{{/if}}

{{/if}}

</template>